<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    
    <main>
       Please enter you email and a strong password to create your account on Skill Squirrel.
        
        <form action="add-user" method = "POST">
            <p>Email <input type="text" name="Email"></p>
            <p>Password <input type="text" name="Password"></p>
            <p>Confirm Password<input type="text" name="ConfirmPassword"></p>
            <p><button type="submit"> Sign Up</button></p>            
        </form>
    </main>
</body>
</html>