<!DOCTYPE html>
<html lang="en">
<head>
<title>SKILL SQIRREL</title>
  <meta charset="utf-8">
	<!-- <link rel="stylesheet" href="Profiles.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<form action="action_page.php" style="border:1px solid #ccc">
		  <div class="container" style="padding: 0px 300px;">
		    <h3>Create a Profile</h3>   
            <div class="form-group col-md-12">
		    	<label for="name" class="col-md-4" style="width: 30%;"><b>Name (required) </b></label>
		    	<input type="text" class="form-control col-md-8" style="width: 60%;" required>
		    	<p class="col-md-12" style="margin-left: 40%;">Enter a unique profile name</p>	
		    </div>		    
		    	   
           <div class="form-group col-md-12">
			    <label for="goal" class="col-md-4" style="width: 30%;"><b>Goal </b></label>
			    <input type="text" class="form-control col-md-8" style="width: 60%;" required>
			    <p class="col-md-12" style="margin-left: 40%;"></p>
		   </div> 
            
           <div class="form-group col-md-12">
			    <label for="profile links" class="col-md-4" style="width: 30%;"><b>Eye on Canada Profile link </b></label>
			    <input type="text" class="form-control col-md-8" style="width: 60%;" required> 
			    <p class="col-md-12" style="margin-left: 40%;"></p>
		   </div>
           <div class="form-group col-md-12">
			    <label for="psc" class="col-md-4" style="width: 30%;"><b>Postal Code(required) </b></label>
			    <input type="text" class="form-control col-md-8" style="width: 60%;" required>
			    <p class="col-md-12" style="margin-left: 40%;"></p>
           </div>
		    
            <div class="form-group col-md-12">
           	    <p style="padding: inherit;"> Choose a post thumnail <br><i class="fa fa-camera" aria-hidden="true"></i></p>			  
		   </div>      

		    <!-- <div class="clearfix">
		      <button type="button" style="background-color: green;" class="form-control">Continue</button> -->     
		 
		 <!--  the 2nd page -->
		    
		    <h3>Profile Description</h3>   
            <div class="form-group col-md-12">
			    <label for="name" class="col-md-4" style="width: 30%; float: left;"><b>Profile keywords separated by commas(required)</b></label>
			    <input type="text" class="form-control col-md-8" style="width: 60%;" required>
			</div>
			    		   		   
            <div class="form-group col-md-12">
			    <label for="desc" class="col-md-4" style="width: 30%;"><b>Description(required)</b></label>
			    <input type="text" class="form-control col-md-8" style="width: 60%;" required>
			</div> 
			<div class="form-group col-md-12">
           	    <p style="padding: inherit;">Add File <br><i class="fa fa-plus" aria-hidden="true"></i></p>
           	    <p> .jpg.png.pdf</p>			  
		   </div>   
           <!--  <div class="clearfix">		           
		      <button type="button" style="background-color: green;" class="form-control">Continue</button> -->

		  <!-- the 3rd page -->
		    
		    <h3>Post Types</h3> 
		    <p>Types of posts are you intrested in offering</p>  
          <input type="checkbox" value="Advisory"> Advisory<br>
		  <input type="checkbox" value="Event"> Event<br>
		  <input type="checkbox" value="Resource Sharing"> Resource Sharing<br>
		  <input type="checkbox" value="Services"> Services<br>
		  <input type="submit" value="Submit" style="margin-top: 20px;"> 
		  <!-- <div class="clearfix">
		      <button type="button" style="background-color: green;" class="form-control">Continue</button> -->  

          <!-- the 4th page -->          
          <h3>Preview</h3>  
		    <div>
		    	<p>New Profile <i class="fa fa-pencil" aria-hidden="true"></i><i class="fa fa-user-plus" aria-hidden="true" style="padding: 20px;"></i><i class="fa fa-share" aria-hidden="true"></i></p>                
		    <div class="form-group">
              <span class=""><p>resource .</p>
                    <span><i class="fa fa-usd" aria-hidden="true"></i><i class="fa fa-calculator" aria-hidden="true"></i></span>             
                    <span class="fa fa-star star-checked"></span>
                    <span class="fa fa-star star-checked"></span>
                    <span class="fa fa-star star-checked"></span>
                    <span class="fa fa-star star-checked"></span>
                    <span class="fa fa-star"></span>
              </span>
              <span>0 Overall reviews</span>
             </div>		    			    		 
		    </div>
		    <div id="About" class="tabcontent">
				  <h3>About</h3>
				  <p>fdytisu ewlhcsjkdu cwoeihvvvv brgre crehgrt ncp oievcsuy djgvbci ysdrvjc nreicuh jj gel kcdfuog eclhji...<h>MORE.</h></p>
		    </div>
		    <div id="Posts" class="tabcontent">
			  <h3>Posts</h3>
			  <p>Nothing is there for now.</p> 
			</div>

			<div id="Media Gallery" class="tabcontent">
			  <h3>Media Gallery</h3>
			  <p>Tokyo is the capital of Japan.</p>
			</div>          
		  </div>
    </form>
</head>