<!DOCTYPE html>
<html lang="en">

<head>
  <title>create-credential</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/account.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <script>
    var validateProfileName,
      invalidProfile,
      checkProfileURL = true,
      checkPostalCode,
      invalidPostal,
      checkProfileImage,
      invalidFile,
      invalidkeyword,
      invalidDesc,
      popUpWarning = false;
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

<body>
  <% var current= 'credentials' %> <%- include ./partials/head %>

  <form action="/create-credential/<%= userId %>/<%= groupId %>" method="POST" id="cprfForm"
    enctype="multipart/form-data" onsubmit="return ValidationProfile()">
    <input type="hidden" name="userId" value="<%=userId%>" />
    <div class="container" style="padding: 0px 300px;">
      <h3>Create a Credential</h3>
      <div class="form-group">
        <label for="name"><b>Credential Name* </b></label>
        <input type="text" class="form-control" name="CredentialName" id="profileName"
          onchange="Javascript:ValidateProfileName()" required oninvalid="InvalidProfile(this);"
          oninput="InvalidProfile(this);" autocomplete="off" />
        <p class="error-message" id="profileError"></p>
        <script>
          function ValidateProfileName() {
            popUpWarning = true;
            document.getElementById("profileError").innerHTML = "";
            // var name = /^[a-zA-Z-,]+(\s{0,1}[a-zA-Z-, ])*$/;
            var text = document.getElementById("profileName");
            // if (!name.test(text.value)) {
            if (!text.value) {
              document.getElementById("profileError").innerHTML =
                "Required Profile Name";
              text.style = "box-shadow: 0 0 5px 1px red";
              validateProfileName = false;
              return false;
            } else {
              text.setCustomValidity("");
              text.style = "box-shadow: none";
              validateProfileName = true;
              return true;
            }
          }
          function InvalidProfile(textbox) {
            if (textbox.value === "") {
              textbox.setCustomValidity("Required Profile Name");
              textbox.style = "box-shadow: 0 0 5px 1px red";
              invalidProfile = false;
              return false;
            } else {
              textbox.setCustomValidity("");
              textbox.style = "box-shadow: none";
              invalidProfile = true;
              return true;
            }
          }
        </script>
      </div>
      <div class="form-group">
        <label for="name"><b> Criteria* : </b></label>
        <input type="text" class="form-control input-size" placeholder="" id="CredentialSkill"
         name="Criteria" required onchange="popUpWarning = true;">
      </div>
      <div class="form-group">
          <div class="card" style=" border: 1px solid silver;border-radius: 5px;padding:5px">
            <label for="Image" style="width:50%;"><b>Credential Image * <img
                  src="https://img.icons8.com/ios/20/000000/about-filled.png" data-toggle="tooltip"
                  title="Image Size should be MAX(400x400 pixels)!"></b></label>
            <div style="background-color: #c3bbbb;float: right;">
              <img id="output" height="50" />
            </div>
            <input type="file" name="image" id="grpimage" onchange='Javascript:CheckImageType(event);' required
              oninvalid="InvalidFile(this);" oninput="InvalidFile(this);">
            <p id="fileError" class="error-message"></p>
            <script>
              function CheckImageType(event) {
                popUpWarning = true;
                var output = document.getElementById('output');
                var inputFile = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);
                document.getElementById("fileError").innerHTML = "";
                var file = document.getElementById('grpimage');
                var filter = /\.(jpe?g|png|gif|bmp|svg)$/i;
                if (!filter.test(file.value)) {
                  document.getElementById("fileError").innerHTML = "Please select a valid image or file";
                  file.style = "box-shadow: 0 0 5px 1px red";
                  checkImageType = false;
                  return false;
                } else {
                  file.setCustomValidity('');
                  file.style = "box-shadow: none";
                  // return true;
                  output.onload = function () {
                    debugger;
                    var height = this.naturalHeight;
                    var width = this.naturalWidth;
                    
                    if ( height > 400 && width > 400) {
                      document.getElementById("fileError").innerHTML = "Uploaded Group Icon should be MAX(400x400 pixels)";
                      file.style = "box-shadow: 0 0 5px 1px red";
                      checkImageType = false;
                      return false;
                    } else {
                      file.setCustomValidity('');
                      file.style = "box-shadow: none";
                      checkImageType = true;
                      return true;
                    }
                  };
                }
              }
              function InvalidFile(file) {
                if (file.value === '') {
                  file.setCustomValidity('Required Group Icon');
                  file.style = "box-shadow: 0 0 5px 1px red";
                  invalidFile = false;
                  return false;
                } else {
                  file.setCustomValidity('');
                  file.style = "box-shadow: none";
                  invalidFile = true;
                  return true;
                }
              }
            </script>
          </div>
        </div>

      <div class="form-group">
        <label for="desc"><b>Description *</b></label>
        <textarea name="CredentialDescription" class="form-control" cols="40" rows="5" required
        onchange="popUpWarning = true;">
            </textarea>
        <script>
          function InvalidDesc(desc) {
            if (desc.value === "") {
              desc.setCustomValidity("Required Description");
              desc.style = "box-shadow: 0 0 5px 1px red";
              invalidDesc = false;
              return false;
            } else {
              desc.setCustomValidity("");
              desc.style = "box-shadow: none";
              invalidDesc = true;
              return true;
            }
          }
        </script>
      </div>
      <div class="form-group input-align">
        <button type="submit" class="btn sign-btn" id="createProfileBtn">
          Save
        </button>
      </div>
    </div>
  </form>

  <script>
  window.onbeforeunload = function(e) {
			if(popUpWarning)
				return e.returnValue = 'If you leave this page, Changes may not be saved.';
    };
    
    function ValidationProfile(){
      window.onbeforeunload = null;
    }
  </script>

</body>
</head>

</html>