<!DOCTYPE html>
<html lang="en">
<head>
  <title>SKILL SQUIRREL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/opportunities.css">
</head>
<body>  
<div class="container-main">
  <div class="row main-header">
    <div class="col-md-12 col-sm-12 col-xs-12 bg-purple">     
    <div class="container-first">  
        <img src="images/squirrel-logo.png" class="container-first-logo" style="display:inline">        
        <ul class="nav navbar-nav pull-right">             
          <li><a href="#Career" class="primary-lightGrey"><i class="fa fa-compass" aria-hidden="true"></i> CAREER</a></li>
          <li class="active"><a href="#home" class="primary-lightGrey"><i class="fa fa-user"></i> HOME</a></li>
          <li><a href="#group"  class="primary-lightGrey"><i class="fa fa-users" aria-hidden="true"> </i> GROUPS</a></li>
          <li><a href="#Messages" class="primary-lightGrey"><i class="fa fa-envelope"></i> MESSAGES</a></li>
          <li><a href="#Account" class="primary-lightGrey"><i class="fa fa-user" aria-hidden="true"></i> ACCOUNT</a></li>
          <li><a href="/logout" class="primary-lightGrey"><i class="fa fa-user" aria-hidden="true"></i> LOG OUT</a></li>
          <li><a href="#Settings" class="primary-lightGrey"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
          <li><a href="#Help" class="primary-lightGrey"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></a></li>
          <li style="padding-top: 10px;">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>          
        </li>   
        </ul>
      </div>     
      </div>
    </div>       
  </div>
</div>

<div class="container">
 
    <div class="form-group has-feedback has-search">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
            <input type="text" id="input" class="form-control" placeholder="Search">
            <!-- <span>  <i class="fa fa-microphone"> </i> </span> -->
            <!-- <button> <i class="fa fa-microphone"></i> </button>  -->
    </div>
     

 <div class="tab-content">
   
          <p> Sort By: </p>
          <select>
          <option value="" disabled selected> </option>
          <option value="Best">Best match</option>
          <option value="Type">Type of Post</option>
          <option value="Distance">Distance</option>
          <option value="Date">Date</option>
          <option value="Pet">Pet-Friendly</option>
          <option value="Accounting">Accounting Skills Needed</option>
          </select> 
          <input type="button" name="fname" value="Manage Sources" style="background: #F15A29; float: right;"> 
     
    <ul class="list-group account-underlist">
          <li class="list-group-item">
            <div class="account-list-div"><img src="images/computer.png" class="profile-img"></div>
            <div class="account-list-grp-title">
               <div> <h4> Media-Savvy Filmsters</h4> </div>
               <div>
               
                    <div> Natasha's Critical Eye</div>
                     <div> I'm done revewing your film now</div>
               </div>
            </div>
            <div class="account-list-div"> 
              <div><img src="images/socialmedia.png" style="width: 60px; float: right"></div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="account-list-div"><img src="images/profbag.svg" class="profile-img"></div>
            <div class="account-list-grp-title">
               <div> <h4>Stereo D</h4> </div>
               <div>
               
                    <div> Natasha's Critical Eye</div>
                     <div> I'm done revewing your film now</div>
               </div>
            </div>
            <div class="account-list-div"> 
              <div><img src="images/stereoD.png" style="width: 60px; float: right"></div>
            </div>
          </li>

        </ul> 
 </div>
</div>

</body>
</html>
