<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>    
</head>
<body>     
    <main>
        <% if(typeof err == "undefined") { %>
            Please enter you email and password to log in into Skill Squirrel.  
       <% } else {  %> 
        <font color="red"><%= err %> </font> 
       <% } %>      
        <form action="login" method = "POST">
            <p>Email <input type="text" name="Email"></p>
            <p>Password <input type="text" name="Password"></p>           
            <p><button type="submit"> Log In</button></p>            
        </form>
    </main>
</body>
</html>