<!DOCTYPE html>
<html lang="en">
<head>
<title>Post-create</title>
  <meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" type="text/css" href="css/posts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  

	<form action="action_page.php" style="margin-left: 400px; margin-right: 400px">	
 

		  
		  <h3>Preview</h3>  
		    <div>
		    	<p>New Service Post <i class="fa fa-pencil" aria-hidden="true"></i><i class="fa fa-share" aria-hidden="true" style="float: right;margin-left: 30px"></i><i class="fa fa-bookmark" aria-hidden="true" style="float: right"></i></p>			    	
		    <div>
		    	<p>Advisory  
              <span >          
                    <span class="fa fa-star star-checked"></span>
                    <span class="fa fa-star star-checked"></span>
                    <span class="fa fa-star star-checked"></span>
                    <span class="fa fa-star star-checked"></span>
                    <span class="fa fa-star"></span>
              </span>
              <span>0 Overall reviews</span></p>  
             </div>		    			    		 
		    </div>
		  <div class="form-group">
            <button type="button" class="btn login-btn" style="color: grey;" >Hire </button>
          </div>      
          <div class="form-group">
            <button type="button" class="btn sign-btn" style="color: grey;">Message</button>
          </div>
           <div>
		    	<p><i class="fa fa-renren" aria-hidden="true"></i></i></i> Service posted by</li></p>
		    	<a href="#" class="w3-bar-item w3-button" style="color:red"> Service name </a>			    		 
		    </div>
          <div>
		    <p>Post Description <i class="fa fa-pencil" aria-hidden="true"></i></p>	
		    <p> user enter discription</p>
		  </div> 
		</form>
	</head>
	</html>