<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sk-Sq-signup</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/signup.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body class="body">  
<div class="container">
  <div class="row">
    <div class="signup-div">
      <div class="logo-img-div">
        <img src="images/Skill Squirrel LOGO vert PURPLE.png" alt="Squirrel" class="logo-img">
      </div>
      <div class="login-form-div">
        <form class="form-style">
          <div class="form-group input-align">
            <input type="firstname" class="login-input" placeholder="First Name">
          </div>
          <div class="form-group input-align">
            <input type="lastname" class="login-input" placeholder="Last Name">
          </div>
          <div class="form-group input-align">
            <input type="email" class="login-input" placeholder="Email">
          </div>
          <div class="form-group input-align">
            <input type="password" class="login-input" placeholder="Password">
          </div>   
          <div class="form-group input-align">
            <input type="confirmpassword" class="login-input" placeholder="Confirm Password">
          </div> 
          <div class="form-group input-align">
            <button type="button" class="btn sign-btn">Sign up</button>
          </div>
       </form>
      </div>
    </div>    
  </div>
</div>
</body>
</html>

